pyAudioAnalysis==0.3.8
scikit-learn==0.24.1
scipy==1.6.2
matplotlib==3.4.2
simplejson==3.16.0
numpy==1.20.3
hmmlearn==0.2.5
eyeD3==0.9.6
pydub==0.25.1
tqdm==4.52.0
plotly==5.3.1
pandas==1.2.4
ffmpeg==1.4
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project==0.9.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
imblearn
